<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>364375446707-ftr70214n1blebgfor7pgpgkvhfpipvs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.364375446707-ftr70214n1blebgfor7pgpgkvhfpipvs</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>364375446707-e7lqmljkvi810gqrrng99e7891b58bns.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCF5rF63q_y-AQJ9NauFYIcixvMMmHf9ao</string>
	<key>GCM_SENDER_ID</key>
	<string>364375446707</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.healthapp</string>
	<key>PROJECT_ID</key>
	<string>first-app-82c56</string>
	<key>STORAGE_BUCKET</key>
	<string>first-app-82c56.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:364375446707:ios:816047438551f913224cc6</string>
</dict>
</plist>